.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.graphContainer{
  /* height: 350; */
  height: 280px;
  /* background-color: rgb(153, 190, 226); */

  border: 1px solid #333;
  margin-bottom: 5px;
  width: 700px;
  /* right: 50px; */
  left: 200px

}

/* #earningsContainer{
  position: absolute;
  left: 150px;

} */


/* #unempContainer{
  position: absolute;
  left: 150px;
  height: 500px
} */


#vacGraph{
  /* background-color: rgb(153, 190, 226); */
  border: 1px solid #333;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: -320px;
  background-color:rgb(110, 187, 206)

}

#unempGraph{
  /* background-color: rgb(153, 190, 226); */
  margin-left: 30px;
  border: 1px solid #333;
  margin-bottom: 5px;
padding: 10px;
}


#earningsGraph{
  margin-left: -330px;
  border: 1px solid #333;
  margin-bottom: 5px;
padding: 10px;

}
/* #allGraphs{
  align-items: center;
} */


.missingDataMessage{
  fill: rgb(83, 83, 83)
}

.float-child{
  float:left
}

table,
td {
    border: 1px solid #333;
    margin-bottom: 5px

}

#fullHoverTable{
  margin-left: 100px;
  margin-top: -50px;
  box-shadow: 12px 12px 2px 1px rgba(100, 100, 241, 0.2);
  border-radius:6px;
  -moz-border-radius:6px;
  padding: 10px;
  width: 200px; 


}

#vacancyTableTitle{
background-color: rgb(110, 187, 206);
}

#tableCell{
  height: 25px;
  /* margin-left:200px; */
  margin:200px;
  width: 500px

}
#hoverTableTitle{
  text-align: center;
  background-color: rgb(217, 226, 221);
  height: 50px
  
}

.noData{
  background-color: rgb(201, 198, 198);
}



