.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* body{ */
  /* background-color:dodgerblue */
/* } */

.graphContainer{
  /* height: 350; */
  height: 350px;
  background-color: rgb(153, 190, 226);
  width: 700px;
}
