.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body{
  background-color: #b0e4ed;
background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}
#dropdownContainerOutside{
  background-color: rgb(216, 42, 109);
  /* padding: 1%;  */
  /* display: flex; */
  /* flex-flow: row wrap;
  justify-content: flex-start; */
  display: grid;
  grid-template-columns: 200px [col-start] 200px [col-start]
}

#countrySelectTextContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

#countrySelectContainer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 15px
  
}

#countrySelect{
  width: 200px ; 
  height: 20px; 
  font-size: medium;
  background-color: rgb(255, 255, 255, 0.9); 
  margin-top: 5px 


}

/* #countrySelect :hover{

  background-color: rgba(18, 45, 54, 0.9)
} */

select:hover{
  background-color: yellow; 
  ;
}

#countrySelectText{
  font-size: large; 
}
.graphContainer{
 border: 3px solid #333;
 /* margin-top: 5px;
 margin-bottom: 5px;  */
 margin: 5px; 
 border-radius:6px;
 box-shadow: 12px 12px 2px 1px rgba(100, 100, 241, 0.2);
 background-color: white; 
 ;


}
#allGraphs{
display:grid; 
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 750px [col-start] 200px [col-start];

}

#earningsContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

}


#unempContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#tableContainer{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#vacContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}



/* 
.graphContainer{
  height: 280px;

  border: 1px solid #333;
  margin-bottom: 5px;
  width: 700px;
  left: 200px

} */







.missingDataMessage{
  fill: rgb(83, 83, 83)
}

.float-child{
  float:left
}

table,
td {
    border: 1px solid #333;
    margin-bottom: 5px

}

#fullHoverTable{
  margin-left: 100px;
  margin-top: -50px;
  box-shadow: 12px 12px 2px 1px rgba(100, 100, 241, 0.2);
  border-radius:6px;
  -moz-border-radius:6px;
  padding: 10px;
  width: 200px; 
  background-color: white;
}

#vacancyTableTitle{
/* background-color: rgb(110, 187, 206); */
}

#tableCell{
  height: 25px;
  /* margin-left:200px; */
  margin:200px;
  width: 500px
}
#hoverTableTitle{
  text-align: center;
  background-color: rgb(217, 226, 221);
  height: 50px
}

.noData{
  background-color: rgb(201, 198, 198);
}



